body {
    background-color: #f2ebe3;
    font-family: "Montserrat", sans-serif;
}

main, .cartao, .informacoes-do-produto, .precos{
    display: flex;
}

main{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao{
    background-color: #fff;
    min-width: 300px;
    max-width: 600px;
    border-radius: 8px;
}

.cartao .image {
    width: 150%;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.informacoes-do-produto{
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.informacoes-do-produto .tipo-produto{
    text-transform: uppercase;
    letter-spacing: 8px;
    
}

.informacoes-do-produto .nome-do-produto, .preco{
    font-family: "Fraunces", serif;
    font-size: 35px;
    line-height: 35px;
}

.informacoes-do-produto .descricao-do-produto, .tipo-produto, .preco-anterior{
    color: #6c7289;
    font-weight: 500;
    font-size: 14px;
}

.informacoes-do-produto .precos{
    align-items: center;
    gap: 15px;
}

.precos .preco{
    color: #3c8067;
}

.precos .preco-anterior{
    text-decoration: line-through;
    margin-right: 30px;
}

.informacoes-do-produto .btn{
    border: none;
    background-color: #3c8067;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    font-weight: 700;
}

.informacoes-do-produto .btn:hover{
    cursor: pointer;
    background-color: #104b35;
}